body {
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-size: .75em;
}

ul {
	list-style-type: none;
}

li {
	height: 1.5em;
}

#qrcode_container {
	float: right;
}

#qr_head {
	text-align: center;
}

#log_head {
	font-size: 4em;
}

#console, #console_get {
	width: 100%;
	height: 2em;
	padding: 0;
	margin: 0;
	position: fixed;
	bottom: 0px;
	background-color: #CCFFFF;
	opacity: 80%;
	left: 0;
}

#console_get {
	border: none;
	padding-left: 1em;
	outline-width: 0;
}

#Log
{
	padding-bottom: 2em;
}